<div class="row">
    <div class="col s12 m7">
        <img class="card">
            <class class="card-header">
                <a href="/pokedex/{{id}}">{{card.card_name}}</a>
                <img>{{card_image}}</class></img>
            </div>
            <div class="card-content">
                <p>{{card.description}}</p>
            </div>
        </div>
    </div>
</div>

<h1>Is this working?</h1>