<div id="gameboy">
    <div id="chat"class="chat-container">
        <div class="chat-header">
            <p>Let's Chat!</p>
        </div>
    </div>
    <div id="screen"></div>
    <div id="dpad"></div>
    <div id="bevel"></div>
    <div id="bt1"></div>
    <div id="bt2"></div>
</div>

{{!-- <div class="chat-container">
    <div class="chat-header">
        <p>Let's Chat!</p>
    </div>
</div> --}}