<div id="gameboy">
    <div id="chat" class="chat-container">
        <div class="chat-header">
            <p>Let's Chat!</p>
        </div>
    </div>
    <div class="row">
        <div class="chat-form-container">
            <form id="chat-form">
                <div class="col 6">
                    <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
                </div>
                <div class="col 6">
                    <button id="btn-chat" class="btn waves-effect waves-light" type="submit" name="action">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>

    {{#if logged_in}}

    <div class="chat-messages" id="user" data-user={{userCards.[0].user.username}}></div>

    <div id="screen"></div>
    <div id="dpad"></div>
    <div id="bevel"></div>
    <div id="bt1"></div>
    <div id="bt2"></div>
    <div id="bt3"></div>
    <div><button class="btn waves-effect waves-light" id="close">close</button></div>
</div>
{{/if}}