<div class="row">
  <div class="col s6 grey lighten-2 center-align">
    <img src="http://fc00.deviantart.net/fs70/i/2012/308/0/b/__hd___pokemon_logo___hd___by_peetzaahhh2010-d5k08gz.png"
      style="width: 70%;" />
    <h2>Welcome Trainer to the pokemon deck builder!</h2>
    <a class="waves-effect waves-light btn" value="PLAY" onclick="play()">Click me for music!</a>
    <h4>Here you can:</h4>
    <div class="box">
      <ul>
        <li>- View Pokemon cards in the pokedex.</li>
        <li>- Create an account.</li>
        <li>- Trade your cards with other users.</li>
      </ul>
      <i></i>
    </div>
  </div>
  <div class="col s6 grey lighten-2 center-align">
    <img src="/images/professorOak.png" />
  </div>
  <audio id="pallet" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/pallet.mp3"></audio>
  <audio id="battle" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/battle.mp3"></audio>
</div>