<div class="row hide-on-small-only">
  <div class="col s6">
    <h2>Welcome Trainer, to the Pokémon Deck Builder!</h2>
    <div class="box">
          <h5>Here you can:</h5>
      <ul>
        <li>- View Pokemon cards in the pokedex.</li>
        <li>- Create an account.</li>
        <li>- Trade your cards with other users.</li>
      </ul>
      <i> </i>
    </div>
    <div class="row">
    </div>
    <button class="waves-effect waves-light btn" value="PLAY" onclick="play()">
      <i class="material-icons right">volume_up</i>Click for Music
    </button>





    {{!-- PROFESSOR OAK IMAGE --}}
  </div>
  <div class="col s6 center-align">
    <img style="margin-top:40px;" src="/images/professorOak.png" />
  </div>
  <audio id="pallet" src="/audio/lofi-pokemon-project.mp3"></audio>
</div>


{{!-- MOBILE STYLING --}}
<div class="row hide-on-med-and-up ">

  {{!-- PROFESSOR OAK IMAGE --}}
  <div class="row">
    <div class="container">
      <div class="col s12">
            <img style="margin-top:40px; max-width:35%; max-height 35%;" src="/images/professorOak.png"/>
      </div>
    </div>
  </div>

  <div class="col s12 center-align">
    <h2>Welcome Trainer, to the Pokémon Deck Builder!</h2>
    <h4>Here you can:</h4>
    <div class="box">
      <ul>
        <li>- View Pokemon cards in the pokedex.</li>
        <li>- Create an account.</li>
        <li>- Trade your cards with other users.</li>
      </ul>
      <i> </i>
    </div>
    <div class="row">
    </div>
    <button class="waves-effect waves-light btn" value="PLAY" onclick="play()">
      <i class="material-icons right">volume_up</i>Click for Music
    </button>


  </div>
</div>