<section class="section" id="searchField">
  <div class="card">

    <div class="card-content">
      <input
        class="input is-large has-text-centered"
        type="text"
        placeholder="User Input Here"
        id="search-input"
      />
    </div>
    <footer class="card-footer">
      <div class="card-footer-item">
        <a class="button is-success is-medium" id="searchBtn">
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
            <span>Search</span>
          </span>
        </a>
      </div>
    </footer>
  </div>
</section>