<html>

<header>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pokémon Homepage</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" />
  {{!-- Pokemon font --}}
  <link href="//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/831e1f4da157d96bc996f8c9f5f1e578?family=Pokemon+GB" rel="stylesheet" type="text/css"/>
  <!-- regular css sheet -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- pokeball icon source  -->
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</header>

  <body>
    <section class="titleBanner">
      <div class="titleBody">
        <h2 id="headerTitle">
          <span class="iconify" data-icon="mdi-pokeball" data-inline="true">
          </span>Pokémon Deck Builder<span class="iconify" data-icon="mdi-pokeball" data-inline="true"></span>
        </h2>
      </div>
    </section>
    
    <!-- Page header nav bar -->
    <nav>
      <div class="navBar nav-wrapper">
        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
          <i class="material-icons">menu</i>
        </a>

        <ul class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          {{!-- <li><a href="/battle">Battle</a></li> --}}
          <li><a href="/pokedex">Pokedéx</a></li>
          <li><a href="/trading">Trading</a></li>
          {{#if logged_in}}
          <li><a class="navbar-item" id="logout">Logout</a></li>
          {{else}}
          <li><a class="navbar-item" href="/login">Login</a></li>
          {{/if}}
        </ul>
        {{#if logged_in}}
        <ul class="right hide-on-med-and-down">
          <li><a href="/profile">My Trainer</a></li>
        </ul>
        {{/if}}
      </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
      <li><a href="/">Home</a></li>
      {{!-- <li><a href="/battle">Battle</a></li> --}}
      <li><a href="/pokedex">Pokedéx</a></li>
      <li><a href="/trading">Trading</a></li>
      {{#if logged_in}}
      <li><a class="navbar-item" id="logout">Logout</a></li>
      {{else}}
      <li><a class="navbar-item" href="/login">Login</a></li>
      {{/if}}
      <li><a href="/profile">My Trainer</a></li>
    </ul>

<main>

{{{body}}}

</main>

{{!-- its still showing up for all pages, still needs work! --}}
{{> footer}}

<!-- materialize javascript package -->
<script src="/js/materialize.js"></script>
<script src="/js/pokedex.js"></script>
<script src="/js/profile.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>