<div class="page-404">
<div class="loading">
    
  <img src="http://a.top4top.net/p_1990j031.gif" alt="Loading" />
  <h1>404</h1>
    <h3>Page not found</h3>
    <h5>Pikachu say's go<span><a href="/"> HOME!</a></span></h5>
    <h5>Or Click to Make Stars!</h5>
</div>
<div class="mouse original"></div>
</div>

<script src="/js/404.js"></script>