<div class="row">

    <div class="col s3 light-blue darken-4" id="leftPanel">
        <h1>test 1</h1>
    </div>


    <div class="col s9 light-blue darken-2" id="rightPanel">
        <h1>test 2</h1>
    </div>

</div>

<div class="row red darken-3 " id="chatField">
  <div class="row">
    <form class="col s12">
      <div class="row ">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Type Message Here</label>
        </div>
        <a class="waves-effect waves-light btn">
          <button type="submit">
          <i class="material-icons right">send</i>Send</button>
          </a>
      </div>
    </form>
  </div>
        
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/battle.js"></script>
