{{!-- SEARCH BAR --}}

<form class="searchForm hide-on-small-only" id="searchForm" style="margin-left: 25%; margin-right:10%;">
    <div class="row">
        <div class="col s12">
            <div class="input-field col s6" id="poke-search">
                <i class="material-icons prefix">search</i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label id="poke-input" for="autocomplete-input">Search</label>
            </div>
                <button class="btn waves-effect waves-light btn-large" type="submit" name="action" id="toggleImg" style="margin-top: 0.75rem;">Submit
                    <i class="iconify" data-icon="mdi-pokeball" data-inline="true" style="font-size: 16px;"></i>
                </button>
        </div>
    </div>
</form>

{{!-- box and pokedex img --}}
<div class="row" id="toggle-img" style="margin-top: 0.25rem;">

    <div class="col s12  ">
        <div class="box">

            <ul>
                <li>- Search for your favorite Pokémon.</li>
                <li>- Different versions will be displayed.</li>
                <li>- Add the best one to your collection!</li>
            </ul>
            <img src="/images/pokedex.png" alt="pokedex" style="max-width:50%;">
        </div>
    </div>
</div>


</div>
</div>

{{!-- MOBILE STYLING --}}

<div class="row">
    <form class="searchForm hide-on-med-and-up" id="searchForm">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Search</label>
                    </div>
                        <button class="btn waves-effect waves-light btn-large" type="submit" name="action"
                            id="toggleImg" style="margin-top: 0.75rem;">Submit
                            <i class="iconify" data-icon="mdi-pokeball" data-inline="true" style="font-size: 16px;"></i>
                        </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="progress">
    <div class="indeterminate" style="width: 70%"></div>
</div>

{{> card-info}}