
<form class="searchForm hide-on-small-only" id="searchForm" style="margin-left: 25%; margin-right:10%;">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s5 m6">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Search</label>
                </div>
                <div class="col s5" style="margin-top: 0.5rem;">
                    <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
                        <i class="iconify" data-icon="mdi-pokeball" data-inline="true" style="font-size: 16px;"></i>
                    </button>
                </div>
            </div>
            {{!-- <a onclick="myFunction()" class="waves-effect waves-light btn">Advanced Search</a> --}}
        </div>
        {{!-- <div class="content-block" id="toggle">
            <div class="row">
                <div class="col s12" id="advanced-search-bar">
                    <p>Types</p>
                    <div class="input-field col s4 m2">
                        <ul>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-bug" />
                                        <span class="pill type-bug">Bug</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-electric" />
                                        <span class="pill type-bug">Electric</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-fire" />
                                        <span class="pill type-bug">Fire</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-dark" />
                                        <span class="pill type-bug">Dark</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-ground" />
                                        <span class="pill type-bug">Ground</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-dragon" />
                                        <span class="pill type-bug">Dragon</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-fairy" />
                                        <span class="pill type-bug">Fairy</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-ghost" />
                                        <span class="pill type-bug">Ghost</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-fighting" />
                                        <span class="pill type-bug">Fighting</span>
                                    </label>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="input-field col s4 m2">
                        <ul>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-grass" />
                                        <span class="pill type-bug">Grass</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-flying" />
                                        <span class="pill type-bug">Flying</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-ice" />
                                        <span class="pill type-bug">Ice</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-rock" />
                                        <span class="pill type-bug">Rock</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-water" />
                                        <span class="pill type-bug">Water</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-steel" />
                                        <span class="pill type-bug">Steel</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-physic" />
                                        <span class="pill type-bug">Physic</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-normal" />
                                        <span class="pill type-bug">Normal</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in type-poison" />
                                        <span class="pill type-bug">Poison</span>
                                    </label>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col s6 offset-s1">
                        <select class="browser-default">
                            <option value="" disabled selected>Ability</option>
                            <option value="1">Iron Tail</option>
                            <option value="2">Spark</option>
                            <option value="3">Surprise Attack</option>
                        </select>
                    </div>
                    <div class="col s4 offset-s8">
                        <a class="waves-effect waves-light btn ad-search btn-large">Reset</a>
                        <a class="waves-effect waves-light btn ad-search btn-large"><i class="iconify" data-icon="mdi-pokeball"
                                data-inline="true" style="font-size: 16px;"></i>Search</a>
                    </div>
                </div>
            </div> --}}
        {{!-- </div> --}}
    </div>
</form>

{{!-- MOBILE STYLING  --}}

<form class="searchForm show-on-small hide-on-med-and-up" id="searchForm" style="margin-left: 0%;">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s5 m6">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Search</label>
                </div>
                <div class="col s5" style="margin-top: 0.5rem;">
                    <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
                        <i class="iconify" data-icon="mdi-pokeball" data-inline="true" style="font-size: 16px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="progress">
    <div class="indeterminate" style="width: 70%"></div>
</div>


{{> card-info}}

