<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
      <div class="background profile-bg">
        <img src="/images/profile.png" />
      </div>
      <a href="#name"><span class="white-text name">Joe Dirt</span></a>
      <a href="#email"><span
          class="white-text email"
        >dirtyman@gmail.com</span></a>
    </div></li>
  <li><a class="waves-effect" href="#!"><span
        class="iconify pokeball"
        data-icon="mdi:pokemon-go"
        data-inline="false"
      ></span>Deck 1</a></li>
  <li><a class="waves-effect" href="#!"><span
        class="iconify pokeball"
        data-icon="mdi:pokemon-go"
        data-inline="false"
      ></span>Deck 2</a></li>
  <li><a class="waves-effect" href="#!"><span
        class="iconify pokeball"
        data-icon="mdi:pokemon-go"
        data-inline="false"
      ></span>Deck 3</a></li>
  <li><a class="waves-effect" href="#!"><span
        class="iconify pokeball"
        data-icon="mdi:pokemon-go"
        data-inline="false"
      ></span>Deck 4</a></li>
</ul>
<a
  href="#"
  data-target="slide-out"
  class="sidenav-trigger btn waves-effect waves-light"
>My Decks</a>
{{! Carousel of cards }}
<div class="carousel">
  <a href="#modal1"class="carousel-item modal-trigger"><img src="/images/bulbasaur.png" /></a>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a
        href="#!"
        class="modal-close waves-effect waves-green btn-flat"
      >Agree</a>
    </div>
  </div>

  <a class="carousel-item" href="#two!"><img src="/images/charmander.png" /></a>
  <a class="carousel-item" href="#three!"><img src="/images/eevee.png" /></a>
  <a class="carousel-item" href="#four!"><img src="/images/mew.png" /></a>
  <a class="carousel-item" href="#five!"><img src="/images/mewtwo.png" /></a>
</div>