

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="/images/profile.png">
      </div>
      <a href="#name"><span class="white-text name">Joe Dirt</span></a>
      <a href="#email"><span class="white-text email">dirtyman@gmail.com</span></a>
    </div></li>
    <li><a class="waves-effect" href="#!">Deck 1</a></li>
    <li><a class="waves-effect" href="#!">Deck 2</a></li>
    <li><a class="waves-effect" href="#!">Deck 3</a></li>
    <li><a class="waves-effect" href="#!">Deck 4</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger btn">My Decks</a>
  {{!-- Carousel of cards --}}
<div class="carousel">
    <a class="carousel-item"><img src="/images/bulbasaur.png"></a>
    <a class="carousel-item" href="#two!"><img src="/images/charmander.png"></a>
    <a class="carousel-item" href="#three!"><img src="/images/eevee.png"></a>
    <a class="carousel-item" href="#four!"><img src="/images/mew.png"></a>
    <a class="carousel-item" href="#five!"><img src="/images/mewtwo.png"></a>
</div>
 