<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="/images/bulbasaur.png"></a>
    <a class="carousel-item" href="#two!"><img src="/images/charmander.png"></a>
    <a class="carousel-item" href="#three!"><img src="/images/eevee.png"></a>
    <a class="carousel-item" href="#four!"><img src="/images/mew.png"></a>
    <a class="carousel-item" href="#five!"><img src="/images/mewtwo.png"></a>
</div>