* {
    box-sizing: border-box;
}

:root {
    /* Pokeball Color Pallete
https://www.color-hex.com/color-palette/1045 */
    --red: #ee1515;
    --black: #222224;
    --white: #f0f0f0;
    --blue: #21437C;
    --yellow: #F4CB08;
    --teal: #26a69a;
    --grey: #e0e0e0;
    --cheeks: #F4869F;
    --pastelRed: #D34836;
    --pastelYellow: #FFA001;
    --darkGrey: #3B3B3B;
}

html,
body {
    height: 100%;
    margin: 0;
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #D3D3D3;
    font-family: 'Open sans', sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

main {
    flex: 1 0 auto;
}

#headerTitle {
    color: var(--white);

}

.navBar {
    background-color: var(--black);
}

.titleBanner {
    background-color: var(--red);
    color: var(--white);
    font-family: 'Pokemon';
}

.titleBody {
    display: flex;
    justify-content: space-around;
}


/* Pokeball on decks pullout */
.pokeball {
    width: 30px;
    height: 30px;
    color: var(--red);
}

.browser-default {
    font-size: 14px;
    color: white;
    font-size: 12pt;
    background-color: var(--teal);
    letter-spacing: .5px;
    text-transform: uppercase;
    border-radius: 15px;
}

.ad-search {
    background-color: var(--red);
    border-radius: 15px;
}

#advanced-search-bar {
    background-color: rgba(255, 0, 0, 0.4);
    color: black;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.pill {
    color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
}

#data {
    background: #D3D3D3;
}

#data tr {
    display: none;
}

.progress {
    width: 60%;
    margin: auto;
    left: 0;
    right: 0;
    position: fixed;
}


/********************************** Profile styling *************************************/


/* styling of yellow toasts */
.yellow {
    color: #000;
}

/* deck name and email */
.white-text {
    padding-right: 200px;
}

.email {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* collection title */

.collection-title {
    display: flex;
    justify-content: space-around;
    font-family: 'Pokemon';
}

#right-trade {
    color: white;
}

#left-trade {
    color: #21437C;
}

/* sizing of carousel */
.carousel .carousel-item {
    min-height: 400px;
    width: 270px !important;
}

/* Background image for profile Decks sidenav */
.profile-bg img {
    float: left;
    width: 300px;
    height: 120px;
}

.modal-content {
    background-image: url(../images/pokemon-bg.png);
    background-color: #7FAE71;
}

#modal-footer {
    background-color: #7FAE71;
}

.modal-content h4 {
    font-family: 'Pokemon GB';
    color: red;
    text-align: center;
}

.modal-content img {
    position: relative;
    padding: 10px;
}

.modal-content p {
    font-family: "Pokemon GB";
    text-align: center;
    font-weight: bold;
}

.btn1 {
    right: 12%
}

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */



/* TRADING PAGE STYLING */


.card-item {
    padding: 1em;
    border-radius: 25px;
    max-width: 55em;
}

.l-grid-half {
    width: 50%;
}

.l-flex-parent {
    display: flex;
    flex-direction: row;
}

.l-flex-child {
    padding: 1em;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.t-purple {
    background-color: var(--blue);
    color: #fff;
}

.t-white {
    background-color: #fff;
    color: var(--blue);
}

.t-white .card-item {
    background: var(--blue);
    color: black;
}

.t-purple .card-item {
    background: #fff;
    color: #000;
}

#tradeBtn {
    display: inline-block;
    top: 50%;
    border-radius: 25px;
}

.btn-color {
    background-image: linear-gradient(to left, white, white 50%, #21437C 50%, #21437C);
}

/* FONT STYLING  */

li {
    font-family: "Pokemon GB";
}

p {
    font-family: "Pokemon GB";
}

.box {
    font-size: 18px;
    font-family: "Pokemon GB", Arial, sans-serif;
    color: red;
    border-radius: 2px;
    padding: 8px;
    width: 450px;
    line-height: 36px;
    margin: auto;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
        inset 0 1px 0 1px black,
        0 0 0 1px black,
        inset 0 0 0 1px black;
}

.box>i {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: black;
    margin-top: 23px;
    animation: bounce 0.5s ease-in-out 0 infinite alternate;
    float: right;
}

@keyframes bounce {
    from {
        margin-top: 20px;
    }

    to {
        margin-top: 23px;
    }
}

/* HOVER FEATURES  */
.my-card {
    cursor: pointer;
}

.my-card:hover {
    background-color: var(--red);
}

.other-card {
    cursor: pointer;
}

.other-card:hover {
    background-color: var(--red);
}

/* selected cards */
.trade {
    background-color: var(--red);
}

.want {
    background-color: var(--red);
}


/*****************************    404 page styling     **************************/


.page-404 {
    overflow: hidden;
    cursor: none
}

.loading {
    background-color: #FFF;
    width: 100%;
    display: fixed;
    font-family: "Pokemon GB";
}

.loading img {
    display: block;
    min-height: 209px;
    min-width: 200px;
    padding-top: 20px;
}

.mouse {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: var(--cheeks);
    position: absolute;
    animation: mouseAnimation .5s infinite ease-in-out alternate;
    left: 0;
    top: 0
}

@keyframes mouseAnimation {

    from {
        width: 25px;
        height: 25px
    }

    to {
        width: 15px;
        height: 15px
    }

}

/* FOOTER STYLING */

.page-footer {
    background-color: var(--grey);
}

/* cards drop shadow */
.cards-container {
    filter: drop-shadow(25px 25px 10px grey);
}


/* hover reveal background image */

.scene {
    font-size: 62.5%;
    text-align: center;
}

.magic {
    z-index: -1;
    position: absolute;
    top: calc(50% - 10rem);
    left: calc(50% - 10rem);
    width: 12rem;
    height: 12rem;
    background: url('https://wallpaperaccess.com/full/8611.jpg') 50% 50% no-repeat fixed;
    background-size: cover;
    border-radius: 50%;
}


/* chat feature */

#gameboy {
    position: relative;
    margin: 100px auto;
    height: 490px;
    width: 650px;
    background: #EEE;
    border-radius: 10px 10px 30px 10px;
    overflow: hidden;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

#gameboy:before {
    position: absolute;
    width: 660px;
    height: 10px;
    left: -1px;
    border-bottom: 3px solid #C0C0C0;
    content: "";
}

#gameboy:after {
    position: absolute;
    width: 620px;
    height: 10px;
    left: 12px;
    top: -1px;
    border-left: 3px solid #C0C0C0;
    border-right: 3px solid #C0C0C0;
    content: "";
}

#screen {
    /* z-index: 1; */
    position: absolute;
    width: 626px;
    height: 320px;
    left: 12px;
    top: 20px;
    background: #777;
    border-radius: 5px 5px 20px 5px
}

#screen:before {
    position: absolute;
    width: 580px;
    height: 280px;
    top: 13px;
    left: 23px;
    background: #AE9B32;
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.1);
    content: "";
}

#screen:after {
    position: absolute;
    height: 5px;
    width: 5px;
    top: 145px;
    left: 9px;
    border-radius: 100%;
    background: #B00;
    content: "";
}

#dpad {
    position: absolute;
    width: 13px;
    height: 40px;
    top: 370px;
    left: 44px;
    background: #444;
    border-radius: 3px;
    z-index: 998;
}

#dpad:after {
    position: absolute;
    width: 40px;
    height: 13px;
    top: 13px;
    left: -14px;
    background: #444;
    border-radius: 3px;
    content: "";
    z-index: 999;
}

#dpad:before {
    position: absolute;
    height: 13px;
    width: 13px;
    top: 13px;
    left: -1px;
    border-radius: 100%;
    /* background: #999; */
    content: "";
    z-index: 1000;
}

#bevel {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 365px;
    left: 25px;
    background: #999;
    border-radius: 100%;
}

#bevel:before {
    position: absolute;
    width: 25px;
    height: 50px;
    left: 561px;
    background: #999;
    border-radius: 12px;
    -webkit-transform: rotate(45deg);
    content: "";
}

#bevel:after {
    position: absolute;
    height: 20px;
    width: 3px;
    top: 85px;
    left: 570px;
    border-radius: 2px;
    background: #999;
    -webkit-transform: rotate(-45deg);
    box-shadow: 7px 0px #999,
        14px 0px #999,
        21px 0px #999,
        28px 0px #999,
        35px 0px #999;
    content: "";
}

#bt1 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 390px;
    right: 51px;
    border-radius: 100%;
    background: #A93671;
    box-shadow: 18px -18px #A93671;
}

#bt2 {
    position: absolute;
    height: 25px;
    width: 6px;
    bottom: 25px;
    left: 300px;
    background: #999;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
}

#bt3 {
    position: absolute;
    height: 25px;
    width: 6px;
    bottom: 25px;
    left: 325px;
    background: #999;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
}

/* inside chat */

.chat-container {
    z-index: 1;
    position: absolute;
    width: 580px;
    /* height: 30px; */
    top: 30px;
    left: 35px;
    background: var(--pastelRed);
    opacity: 0.8;
    border-radius: 5px 5px 5px 5px;
    /* overflow: hidden; */
}

.chat-messages {
    z-index: 1;
    position: absolute;
    width: 580px;
    height: 240px;
    top: 80px;
    left: 35px;
    background: #AE9B32;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.chat-form-container {
    z-index: 1;
    position: absolute;
    /* background: #999; */
    width: 500px;
    top: 355px;
    left: 85px;
}

#msg {
    width: 360px;
}

#btn-chat {
    width: 90px;
    top: 10px;
}

.meta {
    text-align: left;
    font-size: 12px;
    margin-left: 10px;
    background-color: rgb(220, 159, 159);
    margin-right: 430px;
    opacity: 0.8;
}

#trade-icon {
    margin-right: 12px;
    margin-top: -4px;
}