:root {
    /* Pokeball Color Pallete
https://www.color-hex.com/color-palette/1045 */
    --red: #ee1515;
    --black: #222224;
    --white: #f0f0f0;
    --blue: #21437C;
    --yellow: #F4CB08;
    --teal: #26a69a;
    --grey: #e0e0e0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--grey);
}

main {
    flex: 1 0 auto;
}

.navBar {
    background-color: var(--black);
}

.titleBanner {
    background-color: var(--red);
    color: var(--white);
    font-family: 'Pokemon';
}

.titleBody {
    display: flex;
    justify-content: space-around;
}


/* Pokeball on decks pullout */
.pokeball {
    width: 30px;
    height: 30px;
    color: var(--red);
}

.browser-default {
    font-size: 14px;
    color: white;
    font-size: 12pt;
    background-color: var(--teal);
    letter-spacing: .5px;
    text-transform: uppercase;
    border-radius: 15px;
}

.ad-search {
    background-color: var(--red);
    border-radius: 15px;
}

#advanced-search-bar {
    background-color: rgba(255, 0, 0, 0.4);
    color: black;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.pill {
    color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
}

#data tr {
    display: none;
}

.progress {
    width: 60%;
    margin:auto;
    left:0;
    right:0;
    position:fixed;
}


/* Profile styling */

.collection-title {
    display: flex;
    justify-content: space-around;
    font-family: 'Pokemon';
}

/* sizing of carousel */
.carousel .carousel-item {
    min-height: 400px;
    width: 270px !important;}

/* Background image for profile Decks sidenav */
.profile-bg img {
    float: left;
    width: 300px;
    height: 120px;
}

.modal-content {
    background-image: url(../images/pokemon-bg.png);
    background-color: #7FAE71;
}

#modal-footer {
    background-color: #7FAE71;
}

.modal-content h4 {
    font-family: 'Pokemon GB';
    color: red;
    text-align: center;
}

.modal-content img {
    position: relative;
    left: 30%;
    padding: 10px;
}

.modal-content p {
    font-family: "Pokemon GB";
    text-align: center;
}