:root {
    /* Pokeball Color Pallete
https://www.color-hex.com/color-palette/1045 */
    --red: #ee1515;
    --black: #222224;
    --white: #f0f0f0;
    --blue: #21437C;
    --yellow: #F4CB08;
    --teal: #26a69a;
    --grey: #e0e0e0;
}

html,
body {
    height: 100%;
    margin: 0;
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--grey);
}

main {
    flex: 1 0 auto;
}

#headerTitle {
    color: var(--white);

}

.navBar {
    background-color: var(--black);
}

.titleBanner {
    background-color: var(--red);
    color: var(--white);
    font-family: 'Pokemon';
}

.titleBody {
    display: flex;
    justify-content: space-around;
}


/* Pokeball on decks pullout */
.pokeball {
    width: 30px;
    height: 30px;
    color: var(--red);
}

.browser-default {
    font-size: 14px;
    color: white;
    font-size: 12pt;
    background-color: var(--teal);
    letter-spacing: .5px;
    text-transform: uppercase;
    border-radius: 15px;
}

.ad-search {
    background-color: var(--red);
    border-radius: 15px;
}

#advanced-search-bar {
    background-color: rgba(255, 0, 0, 0.4);
    color: black;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.pill {
    color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
}

#data tr {
    display: none;
}

.progress {
    width: 60%;
    margin: auto;
    left: 0;
    right: 0;
    position: fixed;
}


/********************************** Profile styling *************************************/

.collection-title {
    display: flex;
    justify-content: space-around;
    font-family: 'Pokemon';
}

/* sizing of carousel */
.carousel .carousel-item {
    min-height: 400px;
    width: 270px !important;
}

/* Background image for profile Decks sidenav */
.profile-bg img {
    float: left;
    width: 300px;
    height: 120px;
}

.modal-content {
    background-image: url(../images/pokemon-bg.png);
    background-color: #7FAE71;
}

#modal-footer {
    background-color: #7FAE71;
}

.modal-content h4 {
    font-family: 'Pokemon GB';
    color: red;
    text-align: center;
}

.modal-content img {
    position: relative;
    padding: 10px;
}

.modal-content p {
    font-family: "Pokemon GB";
    text-align: center;
    font-weight: bold;
}

.btn1 {
    right: 12%
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open sans', sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}
/* 
.card-item {
    padding: 1em;
    border-radius: 5px;
    max-width: 15em;
}

.l-grid-half {
    width: 50%;
}

.l-flex-parent {

    display: flex;
    flex-direction: row;

}

.l-flex-child {
    padding: 1em;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.t-purple {
    background-color: var(--blue);
    color: #fff;
}

.t-white {
    background-color: #fff;
    color: var(--blue);
}

.t-white .card-item {
    background: var(--blue);
    color: black;
}

.t-purple .card-item {
    background: #fff;
    color: #000;
} */

/* FONT STYLING  */

li {
    font-family: "Pokemon GB";
}

p {
    font-family: "Pokemon GB";
}

@font-face {
    font-family: "Pokemon GB";
    src: url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.eot?") format("eot"),
        url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.woff") format("woff"),
        url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.ttf") format("truetype"),
        url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.svg#PokemonGB") format("svg");
    font-weight: normal;
    font-style: normal;
}

.box {
    font-size: 18px;
    font-family: "Pokemon GB", Arial, sans-serif;
    color: red;
    border-radius: 2px;
    padding: 8px;
    width: 450px;
    line-height: 36px;
    margin: auto;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
        inset 0 1px 0 1px black,
        0 0 0 1px black,
        inset 0 0 0 1px black;
}

.box>i {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: black;
    margin-top: 23px;
    animation: bounce 0.5s ease-in-out 0 infinite alternate;
    float: right;
}

@keyframes bounce {
    from {
        margin-top: 20px;
    }

    to {
        margin-top: 23px;
    }
}

/* HOVER FEATURES  */
.my-card {
    cursor: pointer;
}

.my-card:hover {
    background-color: var(--red);
}

.other-card {
    cursor: pointer;
}

.other-card:hover {
    background-color: var(--red);
}



/* selected cards */
.trade{
    background-color: var(--red);
}

.want{
    background-color: var(--red);
}

